*{
    box-sizing: border-box;
    
}
button{
    margin-left: 30px;
}
.unlist {
   text-decoration: line-through;
   background-color: darkgrey;
   
}
p{
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-evenly;
}
.container{
   
    width: 250px;
}
.Big_container{
    border: 3px solid blue;
    height: 300px;
    width: 260px;
    overflow:hidden;
    text-align: center;
}
